.coolStyle{
    background: red;
}
.coolStyle:hover{
    background: blue;
}

.profileCardStyle {
    display: flex;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    background: lightblue;
}

.profileCardStyle img {
    margin-left: auto; /* Auto margin on the left side pushes the image to the right */
    border-radius: 70%;
    margin-top: -10px;
}

.hyperlinkStyle {
    text-decoration: none !important;
    color: rgb(32, 32, 190);
    font-weight: bold;
    font-size: x-large;
    padding-left: 10px;
    margin-top: -20px;
    margin-right: 10px;
}


.hyperlinkStyle:hover{
    color:rgb(139, 36, 187);
}
