.coolStyle{
    background: red;
}
.coolStyle:hover{
    background: blue;
}

.profileCardStyle {
    display: flex;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    background: lightblue;
    box-shadow: 5px 5px 3px rgb(15, 15, 15);
    border-radius: 20px;
    flex-direction: column; 
}

.profileCardStyle img{
    margin-left: auto; /* Auto margin on the left side pushes the image to the right */
    align-self: flex-start;
    margin-top: -10px;
    border-radius: 70%;
    justify-content: flex-start;
}

.shortText{
    max-width: 22%;
}
.hyperlinkStyle {
    text-decoration: none !important;
    color: rgba(240, 128, 128, 0.973);
    font-weight: bold;
    font-size: x-large;
    margin-top: -20px;
    font-family: Anta, Verdana, Geneva, Tahoma, sans-serif;
}

.hyperlinkContainer{
    max-width: 22%;

}

.profileCardImg{
    display: flex;
    padding-left: 80%;
    margin-top: -19%;
    max-width: 20%;
}

.hyperlinkStyle:hover{
    color:rgba(255, 135, 135);
}

#My-Github-Hyperlink{
    text-shadow: 2px 2px 4px black;
}

#Name{
    margin-top: -10px;
    margin-bottom: auto; /* Adjust this value as needed */
    font-family: Anta, Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(66, 123, 173);
}